@import "/usr/share/sway/templates/waybar/style.css";

* {
    font-family: "JetBrainsMono Nerd Font", "RobotoMono Nerd Font", "Roboto Mono", sans-serif;
}

#window {
    padding-left: 10px;
    padding-right: 10px;
}

#custom-scratchpad, #custom-menu, #workspaces button, #workspaces button.focused, #clock  {
    background: @theme_bg_color;
    color: @wm_icon_bg;
}

#custom-menu{
    color: @theme_selected_bg_color;
}

#clock {
    font-weight: normal;
}
